* {
    margin: 0;
    padding: 0;
}

/*header*/
.header {
    padding: 20px 35px;
    background-color: rgb(65, 62, 62);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url(../assets/images/background-1.jpg);
    background-size: cover;
    background-position: center;
}

.header h1 {
    font-weight: bold;
    font-size: 34px;
    color: white;
    margin: 0;
}

.header a {
    text-decoration: none;
    color: white;
}

.header nav {
    margin: 9px 0;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header nav ul li {
    display: inline;
}

.header nav ul li a {
    margin: 0 32px;
    font-weight: lighter;
    font-size: 24px;
}


/*hero*/
/*about me*/
#about-me {
    padding: 20px 35px;
    background-image: url(../assets/images/background-1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

.bio {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
}
.bio-title {
    font-size: 42px;
    color: white;
    display: inline;

}
.bio-content {
    padding: 20px 35px;
    font-size: 28px;
    display: inline;
    text-align: center;

}
.bio-image img {
    border: 1px solid white;
    width: 150px;
    padding: 5px;
}
.bio-image h3 {
    text-align: center;
}


/*my work*/
/*contact me*/